
img {
    width: 10%;
    height: auto;
}

img:hover{
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-white-rgb),var(--bs-border-opacity))!important;
    border-radius: var(--bs-border-radius)!important;
 }