#consol{
    z-index: 11;
}

@media(min-width: 992px){
    #consol{
        position: absolute !important;
        top: 7rem;
        left: auto;
        height: 25rem;
        z-index: 11;
    }
}

@media (max-width: 991px){
    #consol{
        position: absolute !important;
        top: 5rem;
        left: auto;
        height: 9.5rem;
        z-index: 11;
    }
}

