<div class="col-sm-11 container border round border-dark border-2 p-4  mt-4">
    <ul class="navbar-nav">
        <li class="row justify-content-evenly">
            <h2 id="BTecnológias" class="mouse button btn-dark fs-1 text-center mb-3 m-1 col-xl-3 border round border-dark border-2 p-4" >Tecnológias</h2><!-- onclick="show('Tecnológias')" -->
            <h2 id="BEducación" class="mouse button btn-outline-dark fs-1 text-center mb-3 m-1 col-xl-4 border round border-dark border-2 p-4" >Formación Docente</h2><!-- onclick="show('Educación')" -->
            <h2 id="BSoftSkills" class="mouse button btn-outline-dark fs-1 text-center mb-3 m-1 col-xl-3 border round border-dark border-2 p-4" >Soft Skills</h2><!-- onclick="show('SoftSkills')" -->
        </li>
    </ul>
</div>