<div
  id="edu"
  class="col-sm-11 container bg-dark bg-opacity-75 border rounded-5 rounded 5order-light border-2 p-4 mt-4"
>
  <h1 class="display-2 text-center text-white">
    <img
      src="https://img.icons8.com/3d-fluency/94/null/student-male.png"
    />Educación
  </h1>

  <ul class="navbar-nav">
    <li class="row justify-content-evenly">
      <button
        id="BTecnológias"
        class="btn btn-outline-light fs-1 text-center mb-3 m-1 col-xl-3 border rounded-5 border-ligth border-2 p-4"
      >
        Tecnológias</button
      ><!-- onclick="show('Tecnológias')" -->
      <button
        id="BEducación"
        class="btn btn-outline-light fs-1 text-center mb-3 m-1 col-xl-4 border rounded-5 border-ligth border-2 p-4"
      >
        Formación Docente
      </button>
      <!-- onclick="show('Educación')" -->
      <button
        id="BSoftSkills"
        class="btn btn-outline-light fs-1 text-center mb-3 m-1 col-xl-3 border rounded-5 border-ligth border-2 p-4"
      >
        Soft Skills
      </button>
      <!-- onclick="show('SoftSkills')" -->
    </li>
  </ul>
  <hr class="border border-warning rounded-5 border-2 opacity-50" />

<!--   aqui el carousel que cargara las card -->
</div>
