<div id="TC2" class="card border-light round " style="max-width: 576px;">
    <div class="row g-0 rounded text-white rounded-4 p-2 m-2" style="
background: #000;
">
        <img src="https://i.ibb.co/6wYWgYD/movistar.png" alt="Logotipo de Fundación Telefónica - Movistar" class="align-self-center col-md-4">
        <div class="col-7">
            <div class="card-body">
                <h3 class="card-title">Programación con JavaScript</h3>
                <p class="card-text text-white mb-0">Fundación Telefónica - Movistar</p>
                <p class="card-text text-white mb-0"><small class="text-muted">Expedición: ene. 2023 · Sin fecha de
                        vencimiento</small></p>
                <p class="card-text"><small class="text-muted">con una duración de <b>40hs</b> reloj</small></p>
            </div>

            <a class="d-flex p-0  col-lg-8 mx-auto round btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#MovistarJavaScript" aria-label="Mostrar credencial para Movistar JavaScript">
                <p class="col-10 mt-3 ">Mostrar credencial</p>
                <i class="row col-1 p-0 fa-solid fa-arrow-up-right-from-square align-self-center "> </i>
                <br>
            </a>
        </div>
    </div>

    <div class="modal fade" id="MovistarJavaScript" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="tituloMovistarJavaScript" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content container">
                <div class="modal-header container">
                    <h5 class="modal-title" id="tituloMovistarJavaScript">Fundación Telefónica - Movistar</h5>
                    <button type="button" class="col-2 btn-close btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <iframe src="https://drive.google.com/file/d/12JNhBWNI3xYipMEk7kgLFA-EnaW8aoRd/preview" width="640" height="480" allow="autoplay" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

</div>