<div
  id="about"
  class="col-sm-11 container bg-dark bg-opacity-75 border rounded-5 rounded 5order-light border-2 p-4 mt-4"
>
  <!-- <div id="about" class="col-md-10 offset-md-4 m-md-0 p-0 row-md row-cols-12 onset-1 container-md border rounded border-ligth bg-dark bg-opacity-75">
 -->

  <div class="offset-4 col-8">
    <h1 class="text-center mb-0 text-white">Sánchez Franco</h1>
    <h3 class="text-warning mt-0 display-6 text-center">
      <strong>Desarrollador web / Docente</strong>
    </h3>
    <p class="text-white text-wrap mt-4 onset-1 offset-1 col-10 lh-base">
      Disfruto de afrontar desafíos que den rienda suelta a mi creatividad y
      pongan a prueba mis capacidades. Apasionado por el constante aprendizaje
      que pueda agregar valor a mis habilidades. Poseeo competencias en
      tecnologías orientadas al desarrollo web, sumadas a las destrezas
      pedagógico–didácticas que me brindó la docencia.
    </p>
  </div>
</div>
