<div id="about" class="col-10 onset-1 offset-1  m-0 container border rounded border-ligth p-0 bg-dark bg-opacity-75">
    <h1 class="text-center mb-0 text-white">Sánchez Franco</h1>
    <h3 class="text-white mt-0 text-center">Desarrollador web / Docente</h3>
    <p class="text-white mt-4 onset-1 offset-1 col-10 lh-base">Disfruto de afrontar desafíos que den rienda suelta a mi creatividad y pongan a prueba mis capacidades.
        Apasionado por el constante aprendizaje que pueda agregar valor a mis habilidades. Poseeo competencias en tecnologías orientadas al desarrollo web, sumadas a las destrezas pedagógico–didácticas que me brindó la docencia.</p>
</div>
