/*grandes*/
@media(min-width: 1024px) {
    #code {
        position: absolute !important;
        top: 12.3rem;
        left: 31%;
        height: 14.6rem;
        z-index: 12;
    }
}

/*medianas*/
@media (min-width: 560px) and (max-width: 1023px) {
    #code {
        position: absolute !important;
        top: 6.6rem;
        left: 17%;
        height: 7.4rem;
        z-index: 12;
        width: 23rem;
    }

}

/*pequeñas*/
@media (max-width: 559px) {
    #code {
        position: absolute !important;
        top: 7.3rem;
        left: 3rem;
        height: 5.8rem;
        z-index: 12;
        width: 9.8rem;
    }
}