<<<<<<< HEAD
ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
  }


 @media(min-width: 992px){
   #wind{
      position: absolute !important;
       top: 11rem;
       left: 35rem;
       height: 16.03rem;
       z-index: 12;
       width: 36rem;
    }
}
/* version pantallas pequeñas
*/@media (max-width: 991px){
   .col-9{
      flex: 0 0 auto !important;
      width: 50% !important;
   }
   #wind{
      position: absolute !important;
       top: 6rem;
       left: 12rem;
       height: 7.03rem;
       z-index: 12;
       width: 9.8rem;
    }
=======
ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
  }


 @media(min-width: 992px){
   #wind{
      position: absolute !important;
       top: 11rem;
       left: 35rem;
       height: 16.03rem;
       z-index: 12;
       width: 36rem;
    }
}
/* version pantallas pequeñas
*/@media (max-width: 991px){
   .col-9{
      flex: 0 0 auto !important;
      width: 50% !important;
   }
   #wind{
      position: absolute !important;
       top: 6rem;
       left: 12rem;
       height: 7.03rem;
       z-index: 12;
       width: 9.8rem;
    }
>>>>>>> a62a70d5a9f63045fe4f3c2c8ace0c0d9a984505
}