@media(min-width: 1024px) {
    #picProfile {
        position: absolute !important;
        top: 24.6rem;
        margin-left: 4.333333%;
        height: 15rem;
        z-index: 11;
    }
}

/*medianas*/
@media (min-width: 818px) and (max-width: 1023px) {
    .rounded-circle {
        border-radius: 26% !important;
    }

    #picProfile {
        position: absolute !important;
        top: 37rem;
        margin-left: 4.25%;
        height: 14rem;
        z-index: 11;
        /* position: absolute !important;
        top: 113%;
        margin-left: 0.25%;
        height: 14rem;
        z-index: 11; */
    }

}

/*promedio*/
@media (min-width: 560px) and (max-width:817px) {
    #picProfile {
        position: absolute !important;
        top: 34rem;
        margin-left: 1.25%;
        height: 14rem;
        z-index: 11;
    }
}

/*pequeñas*/
@media (max-width: 559px) {
    .rounded-circle {
        border-radius: 26% !important;
    }

    #picProfile {
        position: absolute !important;
        top: 40%;
        left: 4%;
        height: 25%;
        z-index: 11;
    }
}

@media (max-width: 359px) and (max-width: 459px) {
    .rounded-circle {
        border-radius: 26% !important;
    }

    #picProfile {
        position: absolute !important;
        top: 14%;
        left: 52%;
        height: 22%;
        z-index: 11;
    }
}